<ul>
  <% @todos.each do |todo| %>
    <li class='todo<%= ' completed' if todo.completed_at %>'>
  <%= todo.description %>
    <%= link_to 'Complete', todo_completion_path(todo), method: :post %>
    </li>
  <% end %>
</ul>
<%= link_to 'Add a new todo', new_todo_path %>
